body
{
  background-image: url('mainp.jpg');
      background-repeat: repeat-y;
      background-attachment: scroll;
      background-position: center;
}

div.Headline
{


    background-image:linear-gradient(red,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  right: 80%;
  text-shadow: 40;
}
p {
	color: white;
	font-family: 'Alegreya', cursive;

justify-content: flex-start;

  font-size: 95px;
	padding: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#head {
	background-image: linear-gradient(red 20% , black 85%);

}
div.text
{
  justify-content: flex-start;
  font-size: 29px;
  font-family: 'Alegreya', cursive;
  color: silver;
}
div.progress
{
  font-size: 10px;
}
div.collapse
{
font-family: 'Alegreya', cursive;
  color:rgb(125, 125, 125);
}
button.btn btn-danger
{

  font-family: 'Alegreya', cursive;
}
.progress
{
  width: 550px;
  text-align: left;
  justify-content: flex-start;

}
div.container
{
  text-align: left;
  justify-content: flex-start;

  float:left;
}
div.container
{
  justify-content: flex-start;
  color: white;
}
h4.modal-title
{
font-family: 'Alegreya', cursive;
font-size: 25px;
  color:black;
}
div.modal-header
{
  background-color: darkred;
}
div.modal-text
{
  color:white;
}
div.modal-body
{
  text-align: center;
  font-size: 29px;
  color:white;
  background-color: darkred;
}
div.modal-footer
{
  background-color: darkred;
}
